.menu-wrapper {
  margin: auto 0;
  padding-left: 30px;
  display: inline-block;
  text-align: left;
}

.menu-centerer {
  display: inline-block;
  cursor: pointer;
}

.menu-text {
  text-align: left;
}