.close-icon-wrapper {
    height: 75px;
    width: 100%;
    padding-top: 4px;
}

.close-icon {
    display: inline-block;
    padding: 32.5px 0;
}

.close-icon-line {
    width: 35px;
    height: 5px;
    background-color: #333333;
}

.close-icon-line:first-of-type {
    transform: rotate(45deg) translateY(4px);
}

.close-icon-line:last-of-type {
    transform: rotate(-45deg) translateY(-4px);
}