.home-wrapper a {
    color: black;
}

.profile-image {
    height: 350px;
    float: right;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .profile-image {
        height: 200px;
    }
}

@media only screen and (max-width: 425px) {
    .profile-image {
        display: none;
    }
}