.menu-sidebar-wrapper {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    padding: 0 30px;
    z-index: 3;
    text-align: left;
}

.menu-sidebar-wrapper ul {
    padding: 0;
    list-style-type: none;
}

.menu-sidebar-wrapper ul li {
    font-size: 1.5rem;
    padding: 35px 0;
}

.menu-sidebar-wrapper ul li a {
    text-decoration: none;
    color: #333333;
}