.menu-sidebar-wrapper {
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: -207px;
    bottom: 0;
    height: 100%;
    padding-left: 30px;
    padding-right: 90px;
    z-index: 3;
    text-align: left;
}

.menu-sidebar-wrapper.active {
    left: 0px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.menu-sidebar-wrapper.disabled {
    left: -207px;
    transition: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0.0, 0.2, 1);
}

.menu-sidebar-wrapper ul {
    padding: 0;
    list-style-type: none;
}

.menu-sidebar-wrapper ul li {
    font-size: 1.5rem;
    padding: 35px 0;
}

.menu-sidebar-wrapper ul li a {
    text-decoration: none;
    color: #333333;
}