.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 30px;
  background-color: #f5f5f5;
}

.copywright,
.social {
  opacity: 0.5;
}

.copywright {
  text-align: left;
}

.social {
  text-align: right;
}

.social a {
  padding: 0 5px;
}
