.App {
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
  margin: auto;
}

.App-title {
  font-size: 1.5em;
}
