@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1.5rem;
}

code {
  background: #dadfe1;
  padding: 15px;
  margin: 15px 0;
  display: block;
  font-family: 'Inconsolata', monospace;
}