.contact-wrapper {
    padding-right: 30px;
    margin: auto 0;
    color: #333333;
    text-decoration: none;
    text-align: right;
}

.centerer {
    display: inline-block;
}

.plane-icon {
    display: block;
    margin: 0 auto;
}